body {
    font-family: Arial;
}

h1 {
    text-align: center;
}


.row {
  display: flex; 
}

.left {
  width: 50%;
}


.right {
  width: 50%;
}

.selected {
  opacity: 1;
  stroke: black;
  stroke-width: 1.5px;
}

.bar:hover {
  fill: yellow;
}

.tooltip {
  position: absolute;
  background-color: royalblue;
  border:  solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}

.star {
  color: royalblue;
}

.galaxy {
  color: red;
}

.quasar {
  color: green;
}